html{
  scroll-behavior: smooth;
}
body {
  border: solid 5px black;
   color: white; 
   background-image: linear-gradient(45deg,blue,rgb(18, 196, 187),rgb(32, 81, 124));
   font-family: Arial, Helvetica, sans-serif;
   padding: 0px 50px;
    }
 ul{
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 16px;
 }

a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
}
 
img {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 border: none;
 
}

.center {
  text-align: center;  
  border: 1px green;
} 

footer img {
  width: 50px;
  height: 50px;
  border: none;
}

  footer {
  display: flex;
  justify-content: center;
  
  
}
   footer a {
    margin: 7px;
    margin-top: 7px;
    text-align: center;
 }
 
 nav a:hover { 
 color: green;
 border: white;
 
   }
   p:hover{
 border: 1px green;
   }
  